<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button class="account-icon" aria-label="nmenu dropdown" (click)="menuOpen()">
            <mat-icon>menu</mat-icon>
                </button>
        <span>PetFlicks</span>


        <span class="example-spacer"></span>
        <button mat-icon-button class="video-icon" aria-label="video upload" (click)="videoOpen()">
            <mat-icon>video_call</mat-icon>
        </button>
        <button mat-icon-button class="account-icon" aria-label="account management" (click)="acctOpen()">
            <mat-icon>account_circle</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>